.action-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    width: 100%;
    margin-bottom: 150px;
}

.action-title {
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #003193;
    background: linear-gradient(90deg, #003193, #256dfc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.action-image {
    width: 700px;
    height: 350px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.action-image-text {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
}

#action-position {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.action-image_text-color {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #003193;
    background: linear-gradient(90deg, #003193, #256dfc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.action-number {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    text-align: center;
    height: 100px;
    background: linear-gradient(90deg, #003193, #256dfc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 16px;
}

.action-text {
    width: 20%;
    text-align: center;
}

.appear {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 3s ease;
}

.appear.show {
    opacity: 1;
    transform: translateY(0);
}

#long_appearance {
    transition: opacity 4s ease, transform 3s ease;
}

#position {
    position: relative;
    width: 200px;
    height: 200px;
}

#soldier {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle1 20s infinite;
    opacity: 0;
}

#tablet {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle2 20s infinite;
    opacity: 0;
}

#tank {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle3 20s infinite;
    opacity: 0;
}

#AI {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle4 20s infinite;
    opacity: 0;
}

#tank_target {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle5 20s infinite;
    opacity: 0;
}

@keyframes cycle1 {
    0% {
        opacity: 1; /* Soldier apparait */
    }
    15% {
        opacity: 1;
    }
    20% {
        opacity: 0; /* Soldier disparait */
    }
    100% {
        opacity: 0; /* Soldier apparait */
    }
}

@keyframes cycle2 {
    0% {
        opacity: 0; /* Soldier apparait */
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1; /* Tablet apparait */
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0; /* Tablet disparait */
    }
    100% {
        opacity: 0; /* Soldier apparait */
    }
}

@keyframes cycle3 {
    0% {
        opacity: 0; /* Soldier apparait */
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 0; /* Tablet apparait */
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 1; /* Tank apparait */
    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0; /* Tank disparait */
    }
    100% {
        opacity: 0; /* Soldier apparait */
    }
}

@keyframes cycle4 {
    0% {
        opacity: 0; /* Soldier apparait */
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 0; /* Tablet apparait */
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 0; /* Tank apparait */
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 1; /* AI apparait */
    }
    75% {
        opacity: 1;
    }
    80% {
        opacity: 0; /* AI disparait */
    }
    100% {
        opacity: 0; /* Soldier apparait */
    }
}

@keyframes cycle5 {
    0% {
        opacity: 0; /* Soldier apparait */
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 0; /* Tablet apparait */
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 0; /* Tank apparait */
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 0; /* AI apparait */
    }
    75% {
        opacity: 0;
    }
    80% {
        opacity: 1; /* Tank target apparait */
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 0; /* Tank target disparait */
    }
}

#el1 {
    animation: el1 20s infinite;
}

#el2 {
    animation: el2 20s infinite;
}

#el3 {
    animation: el3 20s infinite;
}

#el4 {
    animation: el4 20s infinite;
}

#el5 {
    animation: el5 20s infinite;
}

@keyframes el1 {
    0% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Soldier apparait */
    }
    15% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    20% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    100% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Soldier apparait */
    }
}

@keyframes el2 {
    0% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Soldier apparait */
    }
    15% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    20% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tablet apparait */
    }
    35% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    40% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tablet disparait */
    }
    100% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Soldier apparait */
    }
}

@keyframes el3 {
    0% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Soldier apparait */
    }
    15% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    20% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tablet apparait */
    }
    35% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    40% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tank apparait */
    }
    55% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    60% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tank disparait */
    }
    100% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Soldier apparait */
    }
}

@keyframes el4 {
    0% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Soldier apparait */
    }
    15% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    20% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tablet apparait */
    }
    35% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    40% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tank apparait */
    }
    55% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    60% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* AI apparait */
    }
    75% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    80% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* AI disparait */
    }
    100% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Soldier apparait */
    }
}

@keyframes el5 {
    0% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Soldier apparait */
    }
    15% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    20% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tablet apparait */
    }
    35% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    40% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tank apparait */
    }
    55% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    60% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* AI apparait */
    }
    75% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    80% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tank target apparait */
    }
    98% {
        color: #003193;
        background: linear-gradient(90deg, #003193, #256dfc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    100% {
        color: #003193;
        background: rgba(221, 221, 221, 0.495);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Tank target disparait */
    }
}