.chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    width: 100%;
    margin-bottom: 150px;
}

.chart-image {
    width: 50%;
    height: 350px;
    background-color: gray;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 75px;

}

.chart-number {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chart-text {
    width: 20%;
    text-align: center;
}

.chart-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
    color: #003193;
    background: linear-gradient(90deg, #003193, #256dfc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.appear {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 3s ease;
}

.appear.show {
    opacity: 1;
    transform: translateY(0);
}

#long_appearance {
    transition: opacity 4s ease, transform 3s ease;
}

#position {
    position: relative;
    width: 200px;
    height: 200px;
}

#soldier {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle1 20s infinite;
    opacity: 0;
}

#tablet {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle2 20s infinite;
    opacity: 0;
}

#tank {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle3 20s infinite;
    opacity: 0;
}

#AI {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle4 20s infinite;
    opacity: 0;
}

#tank_target {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: cycle5 20s infinite;
    opacity: 0;
}

@keyframes cycle1 {
    0% {
        opacity: 1; /* Soldier apparait */
    }
    15% {
        opacity: 1;
    }
    20% {
        opacity: 0; /* Soldier disparait */
    }
    100% {
        opacity: 0; /* Soldier apparait */
    }
}

@keyframes cycle2 {
    0% {
        opacity: 0; /* Soldier apparait */
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1; /* Tablet apparait */
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0; /* Tablet disparait */
    }
    100% {
        opacity: 0; /* Soldier apparait */
    }
}

@keyframes cycle3 {
    0% {
        opacity: 0; /* Soldier apparait */
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 0; /* Tablet apparait */
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 1; /* Tank apparait */
    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0; /* Tank disparait */
    }
    100% {
        opacity: 0; /* Soldier apparait */
    }
}

@keyframes cycle4 {
    0% {
        opacity: 0; /* Soldier apparait */
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 0; /* Tablet apparait */
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 0; /* Tank apparait */
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 1; /* AI apparait */
    }
    75% {
        opacity: 1;
    }
    80% {
        opacity: 0; /* AI disparait */
    }
    100% {
        opacity: 0; /* Soldier apparait */
    }
}

@keyframes cycle5 {
    0% {
        opacity: 0; /* Soldier apparait */
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 0; /* Tablet apparait */
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 0; /* Tank apparait */
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 0; /* AI apparait */
    }
    75% {
        opacity: 0;
    }
    80% {
        opacity: 1; /* Tank target apparait */
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 0; /* Tank target disparait */
    }
}