.chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    width: 100%;
    margin-bottom: 150px;
}

.chart-image {
    width: 50%;
    height: 350px;
    background-color: grey;
}

.chart-number {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chart-text {
    width: 20%;
    text-align: center;
}

.chart-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
    color: #003193;
    background: linear-gradient(90deg, #003193, #256dfc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.appear {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 3s ease;
}

.appear.show {
    opacity: 1;
    transform: translateY(0);
}

#long_appearance {
    transition: opacity 4s ease, transform 3s ease;
}