.die4 {
    width: 100%;
    height: 500px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container4 {
    perspective: 1000px;
    width: 300px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-width: 1px 1px 2px 1px; /* top right bottom left */
    border-style: solid;
    border-color: rgb(186, 186, 186);
  }
  
  .message4 {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-width: 1px 1px 0px 1px; /* top right bottom left */
    border-style: solid;
    border-color: rgb(186, 186, 186);
    color: #fff;
    font-size: 24px;
    transform-origin: center bottom;
    opacity: 0;
    animation: rotateMessages4 16s infinite;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .message4:nth-child(1) {
    animation-delay: 0s;
  }
  
  .message4:nth-child(2) {
    animation-delay: 4s;
  }
  
  .message4:nth-child(3) {
    animation-delay: 8s;
  }
  
  .message4:nth-child(4) {
    animation-delay: 12s;
    border-width: 1px 1px 1px 1px; /* top right bottom left */
    border-style: solid;
    border-color: rgb(186, 186, 186);
    opacity: 0;
  }
  
  @keyframes rotateMessages4 {
    0% {
      transform: translate3D(0, 100%, 0) rotateX(-90deg);
      opacity: 0;
      z-index: 0;
    }
    10% {
      transform: translate3D(0, 0, 0) rotateX(0deg);
      opacity: 1;
      z-index: 8;
    }
    25% {
      transform: translate3D(0, 0, 0) rotateX(0deg);
      opacity: 1;
      z-index: 8;
    }
    35% {
      transform: translate3D(0, -100%, 0) rotateX(90deg);
      opacity: 0.5;
      z-index: 0;
    }
    100% {
      transform: translate3D(0, -100%, 0) rotateX(90deg);
      opacity: 0;
      z-index: 0;
    }
}

.notification-placement4 {
    display: flex;
    flex-direction: row;
}

.github4 {
    width: 20px;
    height: 20px;
    margin: 20px;
}

.notification-title4 {
    color: white;
    margin-top: 22px;
    font-weight: 300;
    font-size: 16px;
}

.notification-text4 {
  font-weight: 300;
  font-size: 12px;
  margin-left: 20px;
}