footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2A2A2A;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.footer {
    width: 70%;
    height: 100%;
}

.footer .bottom {

    border-top: dashed #003293;
    display: flex;
    flex-direction: column;
}

.footer .bottom .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.made {
    margin-top: 20px;
}

.made .color {
    color: #003193;
    background: linear-gradient(90deg, #003193, #256dfc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.legal {
    margin-right: 20px;
    font-weight: bolder;
    color: #2A2A2A;
    text-decoration: none;
}

.legal:hover {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
}

.question_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

}

#button_bottom {
    border: none;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;
}

.h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #2A2A2A;
}

#question {
    color: #7b7b7b;
}

@media (max-width: 700px) {

    .footer {
        width: 90%;
    }
    .question {
        display: flex;
        flex-direction: column;
    }
    #button_bottom {
        margin-left: 0px;
        margin-top: 10px;
    }
    .footer .bottom .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .info {
        padding-bottom: 20px;
    }
    .info_bis {
        display: flex;
        flex-direction: column;
    }
    .legal {
        margin-bottom: 10px;
    }
    .made {
        margin-top: 0px;
    }
}