.led {
    width: 12px;
    height: 12px;
    margin-right: 2px;
}

.push_notification {
    animation: push_notification 2s infinite ;
}

@keyframes push_notification {
    0% {
        r: 10;
    }
    50% {
        r: 20;
        fill: #2af45600
    }
    100% {
        r: 20;
        fill: #2af45600
    }
}